h3{
    color: #f8b703;
}

h1{
    text-align: center;
    color: tomato;
    font-weight: 700;
}

body{
    background-color: rgb(104, 102, 102);
}

p{
    color: white;
}

ul{
    color: white;
}
#box{
    height: 50%;
    width: 50%;
}